@import 'ember-side-menu';
@import 'bulma';
@import 'badge';
@import 'timeline';
@import 'ribbon';
@import 'bulma-steps';
@import 'tooltip';
@import 'divider';
@import 'megamenu';
@import './spinner';
@import './components';
@import './elements';
@import './utilities';
@import './overrides';

html {
  //background-color: whitesmoke;
}

#logo-mobile {
  text-shadow: 2px 1px $grey-lighter;
}

#nav-search-input-mobile {
  padding:       0;
  border-radius: 0;
  border-top:    none;
  border-left:   none;
  border-right:  none;
  box-shadow:    none;
}

#nav-center-mobile {
  flex-grow: 5;
  span.nav-item { width: 100% }
}

#sidemenu {
  * {
    border-radius: 0;
  }

  .menu-label {
    padding-left:  0.75rem;
    padding-right: 0.75rem;
  }
}

#global-application-updated.message {
  margin: 0;
  > .message-body {
    border-radius: 0;
  }
}

.icon.status {
  &.in-sync { color: $green; }
  &.out-sync { color: $yellow; }
  &.out-dated { color: $red; }
}

// notification message is read
div.box.notification-message {
  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  &.is-read {
    background-color: whitesmoke;
    box-shadow:       none;
  }
}

.component-ui-sparkline.sparkline {
  display: inline;
  canvas {
    background-color: aliceblue;
  }
}

// price container so the overflow is hidden
.price-history {
  border-bottom: 1px solid whitesmoke;
  overflow:      hidden;
}

.bm-article {
  p.title {
    font-weight: 200;
  }

  &.is-new {
    p { font-weight: 400; }
  }
}


