@import './components';
@import './elements';
@import './variables';
@import './utilities';
@import './overrides';

html {
  background-color: whitesmoke;
}

#logo-mobile {
  text-shadow: 2px 1px $grey-lighter;
}

.icon.status {
  &.in-sync { color: $green; }
  &.out-sync { color: $yellow; }
  &.out-dated { color: $red; }
}

.component-ui-sparkline.sparkline {
  display: inline;
  canvas {
    background-color: aliceblue;
  }
}

// price container so the overflow is hidden
.price-history {
  border-bottom: 1px solid whitesmoke;
  overflow:      hidden;
}

table td,
table tr {
  vertical-align: middle !important;
}

// fa-icon with Bulma color
.icon i.fa {
  &.is-success { color: $green !important }
  &.is-info    { color: $blue !important }
}


