@import './variables';
@import './utilities';
@import './overrides';

.icon.status {
  &.in-sync   { color: $green; }
  &.out-sync  { color: $yellow; }
  &.out-dated { color: $red; }
}

.component-ui-sparkline.sparkline {
  display: inline;
  canvas {
    background-color: aliceblue;
  }
}

table td,
table tr {
  vertical-align: middle !important;
}

// fa-icon with Bulma color
.icon i.fa {
  &.is-primary { color: $green !important }
}

// price container so the overflow is hidden
.price-history-container {
  overflow: hidden;
}


