@import './utilities';
@import './overrides';

.icon.status {
  &.in-sync   { color: #1bff00; }
  &.out-sync  { color: #ff9a00; }
  &.out-dated { color: #ff2d00; }
}

.component-ui-sparkline.sparkline {
  display: inline;
  canvas {
    background-color: aliceblue;
  }
}

// Pages

