// Used for hidden login/logout form
.hidden-form {
  display: none;
}

// bulma
.content {
  > blockquote {
    background-color: whitesmoke;
    border-left:      5px solid #dbdbdb;
    padding:          1.25em 1.5em;
  }
}

.nav-item {
  input {
    padding: 0.5em;
  }
}

//.media:hover {
//  p.title    { text-decoration: underline; }
//  p.subtitle { text-decoration: underline;}
//}

.tag {
  &.is-small {
    font-size: 0.6em;
  }
}

.section {
  &.is-small {
    padding: 1.5em 0.75em;
  }
}

.message {
  &.is-small {
    > .message-body {
      padding: 0.5em 0.75em;
    }
  }

  // TODO: Deprecate this
  .message-body {
    &.is-small {
      padding: 0.5em 0.75em;
    }
  }
}

.card {
  .card-content {
    &.is-small {
      padding: 0.75em; // Reduced by 0.5em
    }
  }
  .card-footer {
    .card-footer-item {
      > a {
        text-transform: capitalize;
      }
    }
  }
}

// Secondary menu list is smaller
aside.menu > ul.menu-list > li > ul > li {
  font-size: 0.8rem;
}

.buyma-timeline-pager {
  display:         flex;
  justify-content: space-between;
  flex-wrap:       wrap;

  a {
    flex-direction: column;
    height:         3em;
    padding:        0.3rem;

    .day {
      font-weight: bold;
      font-size:   1.1rem;
    }

    .month {
      font-size: 0.8rem;
    }
  }
}

.ui-b-resp-hero {
  .section.is-hidden-tablet {
    padding-bottom: 0;
    hr { margin: 0; }
  }
}