// Used for hidden login/logout form
.hidden-form {
  display: none;
}

.buyma-timeline-pager {
  display:         flex;
  justify-content: space-between;
  flex-wrap:       wrap;

  a {
    flex-direction: column;
    height:         3em;
    padding:        0.3rem;

    .day {
      font-weight: bold;
      font-size:   1.1rem;
    }

    .month {
      font-size: 0.8rem;
    }
  }
}

.ui-b-resp-hero {
  .section.is-hidden-tablet {
    padding-bottom: 0;
    hr { margin: 0; }
  }
}