table td,
table tr {
  vertical-align: middle !important;
}

.icon {
  vertical-align: middle;
  &.is-success  { color: $green !important; }
  &.is-info     { color: $blue !important; }

  &.is-green    { color: $green !important; }
  &.is-yellow   { color: $yellow !important; }
  &.is-red      { color: $red !important; }
  &.is-blue     { color: $blue !important; }
}

// TODO: Use mb-1
.is-button-group {
  .button {
    margin-bottom: 0.5em;
  }
}

button.button,
a.button {
  &.is-circular {
    border-radius: 9999px;
  }
}

hr.is-small {
  margin: 0.75rem 0; // 0.75 reduction
}
