.content {
  > blockquote {
    background-color: whitesmoke;
    border-left:      5px solid #dbdbdb;
    padding:          1.25em 1.5em;
  }
}

//.media:hover {
//  p.title    { text-decoration: underline; }
//  p.subtitle { text-decoration: underline;}
//}

.tag {
  &.is-small {
    font-size: 0.6em;
  }
}

.section {
  &.is-small {
    padding: 1.5em 0.75em;
  }
}

.icon i.fa {
  &.is-success { color: $green !important; }
  &.is-info    { color: $blue !important; }

  &.is-green   { color: $green !important; }
  &.is-yellow  { color: $yellow !important; }
  &.is-red     { color: $red !important; }
}
