// ember-light-table header table should
// hide the margin on the bottom
div.lt-head table {
  margin-bottom: 0 !important;
}

// ember-light-table body table should
// hide the margin on the bottom too
div.lt-body-wrap > table {
  margin-bottom: 0 !important;
}

// ember-cli-loading-slider slider color replacement
.loading-slider span {
  background-color: $turquoise;
}

// alertifyjs
.alertify-logs {
  opacity:    0.9;

  > *.success { background: $green; }
  > *.error   { background: $red; }
  > *.default { background: $turquoise; }
}

// fixes
a.align-fix > .icon {
  padding-bottom: 0.4rem;
}
