<form id="hidden-login-form" action="{{loginPath}}" method="post" style="display: none;">
  <input type="text" name="username" id="signin_username">
  <input type="password" name="password" id="signin_password">
  <input type="submit" id="signin_button">
</form>