<form id="hidden-login-form" class="hidden-form"
      action="{{loginPath}}" method="post">
  <input type="text" name="username" id="signin_username">
  <input type="password" name="password" id="signin_password">
  <input type="submit">
</form>