<div class="card is-fullwidth">
  <header class="card-header">
    <p class="card-header-title">
    <h3 class="title is-3">Zara</h3>
    </p>
  </header>
  <div class="card-content">
    <nav class="level is-mobile">
      <div class="level-item has-text-centered">
        <p class="heading">New Articles</p>
        <p class="title">{{newArticlesCount}}</p>
      </div>
      <div class="level-item has-text-centered">
        <p class="heading">Total Articles</p>
        <p class="title">{{totalArticlesCount}}</p>
      </div>
      <div class="level-item has-text-centered">
        <p class="heading">Status</p>
        <p class="title">{{lastSyncedDate}}</p>
      </div>
    </nav>
    {{!--{{ui.ember-chart type='bar' data=exampleData}}--}}
  </div>
  <footer class="card-footer">
    <a class="card-footer-item">Update Histories</a>
    <a class="card-footer-item">All Articles</a>
    <a class="card-footer-item">View</a>
    <a class="card-footer-item">View</a>
  </footer>
</div>
