<!--Specific year overview-->
<div class="columns">
  <div class="column is-12">
    <nav class="breadcrumb is-medium has-bullet-separator">
      <ul>
        <li>{{#link-to 'index.dashboard-archive.index'}}Year{{/link-to}}</li>
        <li>{{#link-to 'index.dashboard-archive.year.index.overview' activeClass='is-active'}}Current{{/link-to}}</li>
      </ul>
    </nav>
  </div>
</div>

