<!--Specific year passing through-->
<div class="columns">
  <div class="column">
    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">Month</label>
      </div>
      <div class="field-body">
        <div class="field">
          {{#each allMonths as |month|}}
            {{#link-to 'index.dashboard-archive.year.index.month.index.overview' year month
                       class='button is-small is-light mb-1'
                       activeClass='is-active is-primary'}}{{month}}{{/link-to}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
{{outlet}}