<!--All years overview-->
<div class="columns">
  <div class="column is-12">
    <nav class="breadcrumb is-medium has-bullet-separator">
      <ul>
        <li>{{#link-to 'index.dashboard-archive.year.overview'
                     activeClass='is-active'}}Year{{/link-to}}</li>
      </ul>
    </nav>
  </div>
</div>
