<section class="section">
  <div class="container">

    <div class="control is-horizontal">
      <div class="control-label">
        <label class="label">Code</label>
      </div>
      <div class="control is-grouped">
        <p class="control is-expanded">
          {{input class='input is-disabled' value=metadatum.code}}
        </p>
      </div>
    </div>

    <div class="control is-horizontal">
      <div class="control-label">
        <label class="label">Name</label>
      </div>
      <div class="control is-grouped">
        <p class="control is-expanded">
          <input class="input" type="text" placeholder="Merchant Name">
        </p>
      </div>
    </div>

    <div class="control is-horizontal">
      <div class="control-label">
        <label class="label">Base URL</label>
      </div>
      <div class="control is-grouped">
        <p class="control is-expanded">
          <input class="input" type="text" placeholder="Merchant Base URL">
        </p>
      </div>
    </div>

    <div class="control is-horizontal">
      <div class="control-label">
        <label class="label">Pager CSS</label>
      </div>
      <div class="control is-grouped">
        <p class="control is-expanded">
          <input class="input" type="text" placeholder="Pager CSS">
        </p>
      </div>
    </div>

  </div>
</section>