<!--All months overview-->
<div class="columns">
  <div class="column is-12">
    <nav class="breadcrumb is-medium has-bullet-separator">
      <ul>
        <li>{{#link-to 'index.dashboard-archive.year.overview'
                       activeClass='is-active'}}Year{{/link-to}}</li>
        <li>{{#link-to 'index.dashboard-archive.year.index.overview'
                       activeClass='is-active'}}PH-CURRENT{{/link-to}}</li>
        <li>{{#link-to 'index.dashboard-archive.year.index.month.overview'
                       activeClass='is-active'}}Month{{/link-to}}</li>
        <li>{{#link-to 'index.dashboard-archive.year.index.month.index.overview'
                       activeClass='is-active'}}PH-CURRENT{{/link-to}}</li>
      </ul>
    </nav>
  </div>
</div>
