<section class="hero spinner is-items-center">
  <section class="section">
    <p>ちょっと まってください</p>
  </section>
  <section class="section">
    <p>{{partial 'partials/spinner'}}</p>
  </section>
</section>
