<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      Currency: CAD
    </div>
  </div>
</section>
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p><strong>{{appName}}</strong></p>
      <p>By <a href="http://charlescy.com">Charles Yang</a></p>
      <p><small>Build Version: {{app-version}}</small></p>
      <p><span class="icon is-large">{{fa-icon 'bold'}}</span></p>
    </div>
  </div>
</footer>