<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>{{appName}}</strong> by
        <a href="https://github.com/snwfog">Charles Yang</a></p>
      <p>
        <span class="icon is-large">
          <span class="typcn typcn-social-github-circular"></span>
        </span>
      </p>
    </div>
  </div>
</footer>