<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <p>
        <strong>{{appName}}</strong> by
        <a href="https://github.com/snwfog">Charles Yang</a>
      </p>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p><span class="icon is-large">{{fa-icon 'github'}}</span></p>
    </div>
  </div>
</footer>