<section class="hero section is-fullheight">
  <section class="hero is-items-centered mt-2">
    <span class="icon is-medium mt-1">
      {{fa-icon 'bold'}}
    </span>
    <p class="mt-2 mb-2">
      ちょっと まってください
    </p>
    <section class="section spinner mt-2">
      {{partial 'partials/spinner'}}
    </section>
  </section>
</section>
