<nav class="nav has-shadow is-hidden-tablet">
  <div class="nav-right nav-menu is-active">
    <span class="nav-item is-hidden-mobile">
      <span class="title is-4">
        {{ui.-money oneDollar 'jpy' showCode=true}}
      </span>
    </span>

    <span class="nav-item is-hidden-mobile">
      <span class="title is-4">
        {{ui.-money oneDollar 'usd' showCode=true}}
      </span>
    </span>
  </div>
</nav>