{{loading-slider isLoading=loading}}

<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      {{#link-to 'index' class='nav-item is-brand'}}
        {{appName}}
      {{/link-to}}
    </div>
    <div class="nav-center">
      {{#link-to 'status' class='is-tab nav-item' activeClass='is-active'}}Status{{/link-to}}
    </div>
    <div class="nav-right"></div>
  </div>
</nav>

{{outlet}}
{{partial 'partials/footer'}}