<section class="hero section is-fullheight">
  <section class="hero is-items-centered">
    <span class="icon is-medium mb-1">
      {{fa-icon 'bold'}}
    </span>
    <p>ちょっと まってください</p>

    <section class="section spinner">
      {{partial 'partials/spinner'}}
    </section>
  </section>
</section>


