{{#ui/b/resp/-hero style='dark'}}
  Archive
{{/ui/b/resp/-hero}}

<div class="section is-small">
  <div class="container">
    <div class="columns">
      <div class="column is-4"></div>
      <div class="column is-8">
        <div class="columns">
          <div class="column">
            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label">Year</label>
              </div>
              <div class="field-body">
                <div class="field">
                  {{#each allYears as |year|}}
                    {{#link-to 'dashboard-archive.year.year-index' year
                               current-when='dashboard-archive.year'
                               class='button is-small is-light'
                               activeClass='is-active is-primary'}}{{year}}{{/link-to}}
                  {{/each}}
                </div>
              </div>
            </div>
          </div>
        </div>

        {{outlet}}

        <hr>

        <div class="columns">
          <div class="column is-12">
            <p class="title is-6 has-text-right">
              {{moment-format currentDate 'MMM-D-YYYY'}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
