<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{appName}}
      </h1>
    </div>
  </div>
</section>
<section class="hero is-medium">
  <div class="hero-body">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <p class="control has-addons">
          <span class="select is-large">
            <select>
              <option>Zara</option>
              <option>Getoutside</option>
              <option>Shoeme</option>
            </select>
          </span>
          <input class="input is-expanded is-large" type="text" placeholder="Search Items: zar:123323">
          <a class="button is-large is-info">Search</a>
        </p>
        <h6 class="subtitle is-6">Hint: Auto-complete is available, try to type "zar" + tab, then type in item name</h6>
      </div>
    </div>
  </div>
</section>

