<section class="hero is-medium is-bold is-dark">
  <div class="hero-body">
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <p class="control has-addons">
          <span class="select is-large">
            {{ui.form.ember-select content=merchantMetadata
                                   optionValuePath='id'
                                   optionLabelPath='name'}}
          </span>
          <input class="input is-expanded is-large" type="text"
                 placeholder="Search Items: zar:123323">
          <a class="button is-large is-primary">
            <span>Search</span>
            <span class="icon">{{fa-icon 'search'}}</span>
          </a>
        </p>
        <h6 class="subtitle is-6">Hint: Auto-complete is available, try to type "zar" + tab, then type in item name</h6>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    {{#each (chunk 3 merchantMetadata) as |row|}}
      <div class="columns">
        {{#each row as |metadatum|}}
          <div class="column is-4">
            <div class="box is-paddingless">
              <article class="media is-align-items-center">
                <div class="media-left">
                  <figure class="image is-64x64">
                    {{ui.asset.-img (concat 'images/' metadatum.name '.jpg')}}
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    {{#link-to 'merchant' metadatum.id class='content'}}
                      <p class="title is-3">{{capitalize metadatum.name}}</p>
                    {{/link-to}}
                  </div>
                </div>
              </article>
            </div>
          </div>
        {{/each}}
      </div>
    {{/each}}
  </div>
</section>

