<section class="hero is-medium is-bold is-dark">
  <div class="hero-body">
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <p class="control has-addons">
          <span class="select is-large">
            {{ui.form.ember-select content=merchantMetadata
                                   optionValuePath='id'
                                   optionLabelPath='name'}}
          </span>
          <input class="input is-expanded is-large" type="text"
                 placeholder="Search Items: zar:123323">
          <a class="button is-large is-primary">
            <span>Search</span>
            <span class="icon">{{fa-icon 'search'}}</span>
          </a>
        </p>
        <h6 class="subtitle is-6">Hint: Auto-complete is available, try to type "zar" + tab, then type in item name</h6>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      {{#each merchantMetadata as |metadatum|}}
        <div class="column is-one-quarter">
          <div class="card">
            <div class="card-image">
              <figure class="image is-3by3">
                {{ui.asset.-img (concat 'images/' metadatum.name '.jpg')}}
              </figure>
            </div>
            <div class="card-content has-text-centered">
              {{#link-to 'merchant' metadatum.id class='content'}}
                <h1 class="title">{{capitalize metadatum.name}}</h1>
              {{/link-to}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>

