{{#ui/b/resp/-hero}}
  Status Dashboard
{{/ui/b/resp/-hero}}
<div class="section">
  <div class="container">
    {{#each model.merchants as |merchant|}}
      <div class="columns">
        <div class="column is-full">
          {{merchant/-status merchant}}
        </div>
      </div>
    {{/each}}
  </div>
</div>
