{{#ui/b/resp/-hero}}
  Status Dashboard
{{/ui/b/resp/-hero}}
<div class="section is-small">
  <div class="container">
    {{#each model.merchants as |merchant|}}
      <div class="columns">
        <div class="column is-full">
          <div class="card is-fullwidth">
            <header class="card-header">
              <p class="card-header-title">
                <p class="title is-5 is-capitalized">{{merchant.name}}</p>
              </p>
            </header>
            <div class="card-content">
              <nav class="level is-mobile">
                <!--<div class="level-item has-text-centered">-->
                <!--<p class="heading">New Articles</p>-->
                <!--<p class="title">{{merchant.newArticlesCount}}</p>-->
                <!--</div>-->
                <div class="level-item has-text-centered">
                  <div>
                    <p class="heading">Articles</p>
                    <p class="is-size-5">
                      {{merchant.totalArticlesCount}}
                    </p>
                  </div>
                </div>
                <div class="level-item has-text-centered">
                  <div>
                    <p class="heading">Index Pages</p>
                    <p class="is-size-4">
                      {{merchant.indexPages.length}}
                    </p>
                  </div>
                </div>
              </nav>
            </div>
            <footer class="card-footer">
              {{#link-to 'merchant.detail' merchant.id class='card-footer-item'}}
                View Detail
              {{/link-to}}
              {{#link-to 'merchant.history' merchant.id class='card-footer-item'}}
                Histories
              {{/link-to}}
            </footer>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
